.main_content {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;
}

.main_data {
  width: 1100px;
  /* margin: 0 auto; */
  background-color: white;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.container div {
  border-radius: 5px;
  padding: 10px;
  background-color: chocolate;
}
