.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5개씩 */
  gap: 10px;
  width: 1000px;
  margin: 0 auto;
}

.container div {
  cursor: pointer;
}

.container h3 {
  text-align: center;
  margin: 5px 0;
  width: 150px;
  font-weight: 16px;
}
