.container {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr); /* 5개씩 */
}

.all_container {
  display: flex;
  gap: 10px;
  /* height: 380px; */
  margin: 15px 0 15px 15px;
}

.left_item_detail {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  /* height: 250px; */
}
.item_detail {
  margin-left: 10px;
}
.title {
  font-weight: bold;
  font-size: 17px;
  margin: 10px 0;
}
.item_material_detail {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 120px;
  justify-content: center;
  flex-direction: column;
}

.p_menu_title {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
.p_menu {
  font-size: 15px;
}

.pagination {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 1100px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 5px 10px;
  font-family: "ZEN-SERIF-Regular";
  border-radius: 6px;
}

.pageButton {
  margin-right: 8px;
  background: linear-gradient(180deg, #1e40af, #1e3a8a);
  border: 2px solid #3b82f6;
  color: #fff;
}

.activePage {
  font-weight: bold;
  margin-right: 8px;

  background: #ffffff;
  color: #1e40af;
  border: 2px solid #60a5fa;
}
