.container {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.item_container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 15px 0 15px;
}

.item_info {
  height: 150px;
}

.item_info div:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

.item_info div:nth-child(2) {
  margin: 10px;
}

.item_detail {
  height: 70px;
  margin-top: 10px;
}
