.main_content {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.item_container {
  display: flex;
  gap: 10px;
}

.activeItem {
  background-color: rgba(255, 255, 0, 0.2); /* 예시 강조색 */
  transition: background-color 0.3s;
}

.data_container {
  display: flex;
  flex-direction: column;
}

.data_container h3 {
  margin: 10px 0;
}

.data_container h4 {
  margin: 5px 0;
  /* text-align: center; */
}

.detail_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list_container {
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 0;
  margin: 0;
}

.list_container li {
  display: block;
}

.detail_main {
  margin: 10px 0;
}

.ability {
  /* border: 1px solid rgb(230, 230, 230); */
  width: 450px;
  /* border-collapse: collapse; */
}

.ability th,
.ability td {
  text-align: left;
  font-weight: 500;
  /* border: 1px solid rgb(230, 230, 230); */
}

.pagination {
  margin-top: 16px;
}

.pageButton {
  margin-right: 8px;
}

.activePage {
  font-weight: bold;
  margin-right: 8px;
}
