.button_container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.button_container button {
  background: linear-gradient(180deg, #1e3a8a, #216589);
  /* background: linear-gradient(180deg, #216589, #1e3a8a); */
  border: 2px solid #3b82f6;
  border-radius: 6px;
  color: white;
  height: 40px;
  cursor: pointer;
  padding: 0 15px;
  font-weight: bold;
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5개씩 */
  gap: 10px;
  width: 1000px;
  margin: 0 auto;
}

.container div {
  cursor: pointer;
  text-align: center;
}

.container h3 {
  text-align: center;
  margin: 5px 0;
  width: 150px;
  font-weight: 16px;
}
