.tag ul {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  background-color: #216589;
  width: 110px;
  padding: 20px 10px;
  margin: 0;
  color: white;
  border-radius: 20px;
}

.tag li:not(:first-child) {
  margin: 10px 0;
  padding: 0 0 0 15px;
}

.tag li a {
  display: block;
  color: white;
  text-decoration: none;
}
