.main_content {
  width: 1100px;
  margin: 0 auto;
  background-color: red;
}

.container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.container div {
  border-radius: 5px;
  padding: 10px;
  background-color: chocolate;
}
